@charset "UTF-8";


.ptitle{
	padding-top: 5px;
	padding-left: 15px;
	border-right: 8px double #ccc;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-left: 8px solid #ccc;
}
.ptitle>a{
	color: #000;
}

.sec{
	background: url("../img/bg.png") left top repeat-x;
	background-size: 20px 10px;
	background-color: lightgoldenrodyellow;
	padding: 30px 40px;
	margin-bottom: 10px;
}
.sec>h3{
	padding: 10px 0 5px;
}
.sec>p{
	font-size: 0.9em;
}
.info{
	margin: 10px 0 15px;
}
.sec>h3>span{
	font-size: 0.85em;
	font-weight: normal;
}
.cat{
	object-fit: cover;
	float: left;
	width: 300px;
	height: 110px;
}
.summery{
	background-color: yellowgreen;
	float: left;
	width: 350px;
	margin-left: 30px;
	margin-top: 20px;
	padding: 5px;

}
.summery span, #human span, #picture span{
	font-weight: bolder;
}
.plus{
	clear: both;
	padding: 10px;
	text-align: right;
}

#human>ul{
	list-style: none;
	padding: 3px;
}

#apply>a{
	color:#000;
	text-decoration: none;

}