@charset "UTF-8";
/* 
	1. 리셋CSS
		- HTML 요소의 기본 값들을 없애주는 작업
		- 각종 브라우저의 초기 상태를 통일
		
		- eric_meyer.css
		- html5_doctor.css
		- 등등

		>> 외부링크로 처리해놓는다.
 */

html,body,div,span,applet,object,iframe,
h1 h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,
fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,footer,
header,main,menu,nav,output,ruby,section,summary,
time,mark,audio,video{
	margin: 0; padding: 0; border: 0; font-size: 100%;
}

body{
	color: #666;
	font-family: sans-serif;
	font-size: 87.5%;
	line-height: 1.5;
}

ul, ol{
	list-style: none;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

img,input,select,textarea{
	vertical-align: middle;
}
a{
	color: #00c4ab;
}
a:hover{
	color: #cce739;
}
a img{
	opacity: 1;
}
a:hover img{
	opacity: 0.7;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
